*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: $grey-light;
}

.container {
  display: grid;
  grid-template-rows: 20vh min-content 5vh;
  grid-template-columns:
    [left-start]minmax(6rem, 1fr)
    [center-start]repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]minmax(6rem, 1fr) [full-end];
}