%btn {
  text-transform: capitalize;
  border: none;
  margin: em(1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: em(2);
  padding: em(13) em(20);
  min-width: max-content;
}
