@import 'src/assets/styles/main';

.storybook-button {
  &,//applay as well to element
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: none;
    margin: 1rem;
    border-radius: 0.25rem;
    padding: 1.5rem 4rem;
    min-width: max-content;
    color: $white;
    font-weight: 500;
    height: 100%;
    transform: all 0.2s;
    position: relative;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($black, 0.2);
  }
   
}
.storybook-button--primary {
   background-color: $red;
}
.storybook-button--secondary {
  background-color: rgba(96, 96, 96, 0.68);
  color: $red;
}
.storybook-button--small {
  font-size: em(15);
  padding: em(4) em(14);
}
.storybook-button--medium {
  font-size: em(20);
  padding: em(6) em(16);
}
.storybook-button--large {
  font-size: em(25);
  line-height: em(20);
  padding: em(25) em(80);
  @include respond(tab-port) {
    font-size: em(20);
    padding: em(18) em(60);
  }
}
