@import 'src/assets/styles/main.scss';

.customCard {
  background-color: $black;
  color: $white;
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  grid-template-rows: 1fr max-content;
  gap: 1.5rem;
 .card__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .card__info {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: start;
    padding: 0 2rem 1rem;

    p:first-of-type {
      justify-self: end; 
    }

  }
}

