@import 'src/assets/styles/main.scss';

.description__section {
  color: $white;
  display: grid;
  grid-template-columns: repeat(2, minmax(25.9375rem, 1fr));
  gap: 5rem;
  justify-content: center;
  // test 
  width: 80%;
  .card__img {
    width: 100%;
    grid-column: 1/2;
  }
  .description {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    grid-template-rows: repeat(4, mmax-content);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    &__rating {
      grid-column: 2/-1;
      grid-row: 1/2;
    }
    &__type {
      // grid-column: 1/-1;
      grid-row:2/3;
    }
    &__year,
    &__runtime {
      grid-row:3/4;
    }
    &__text{
      grid-row:4/5;
      grid-column: 1/-1;
    }
  }




}

