@import 'src/assets/styles/main.scss';

.header {
  grid-column: center-start/center-end;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  height: $header-height;
  background-color: $black;
  &-withImage {
    background-image: url('../../assets/images/Bitmap.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}

