@import 'src/assets/styles/main.scss';

.footer {
  text-align: center;
  background-color: $grey-dark;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: em(23);
  grid-row: 4/-1;
  grid-column: center-start/center-end;
}


