@import 'src/assets/styles/main.scss';

.search__content {
  color: $white;
  display: flex;
  flex-direction: row;
  gap: em(20);
  align-items: center;
  max-width: 100%;
  font-weight: 100;
  font-size: em(40);
  text-transform: uppercase;
  @include respond(tab-port) { 
    font-size: em(30);
    flex-direction: column;
  }
  label {
    width: 60%;
    & .search__input {
      background-color: rgba(0,0,0, 0.4); 
      border: none;
      border-radius: em(2);
      color: $white;
      width: 100%;
      padding: em(14);
      color: inherit;
      font-size: inherit;
      font-weight:inherit;
    }
    @include respond(tab-port) { 
      width: 100%;
    }
  }
  button {
    @include respond(tab-port) {
      align-self: flex-end;
    }
  }
}