// FONT
$default-font-size: 1.6rem;

//Colors

$red: #f65261;
$grey-dark: #424242;
$grey-light: #555555;
$black: #232323;
$white: #ffffff;

$header-height: em(400);

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;