// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Colors

$red: #f65261;
$grey-dark: #424242;
$grey-light: #555555;
$black: #232323;
$white: #ffffff;

$header-height: em(400);
